.FAGstart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20%;
    gap: 20px;
    main {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }

    .FAGstarttitle {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(218, 218, 218, 1);
        padding: 20px 0 40px 0;
        cursor: pointer;

        .FAGimg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            font-weight: 700;
            color: rgb(10, 10, 10);

        }
    }

    .Can {
        display: flex;
        flex-direction: column;
        gap: 20px;


        .FagCan {
            display: flex;
            justify-content: space-between;
            font-size: 25px;
            font-weight: 700;
            align-items: center;
        }

        span {
            font-size: 25px;
            color: rgba(89, 85, 102, 1);

        }
    }

    .Fagtext {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-weight: 700;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
        display: none;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}