.Header{
   
    display: flex;
    margin-left: 600px;

    margin-bottom: 16px;
    justify-content: center;
    gap: 100px;
    cursor: pointer;
    color: #2d2c3c; 
    transition: .3s;  
    width: 100px;
    height: 50px;
    img{
        background: fixed;
        border-radius: 10px;
        padding: 10px 10px ;
        transition: .3s;
        width: 180px;
        &:hover{
            background-color: #ffffff;
            box-shadow:  0px 8px 9px 0px rgb(195, 26, 26);  
            bottom: 10px;
        }
    }
}




