.main{
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    padding: 100px 150px;
    
    .text{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 40px;
        padding: 50px 40px;
        
    }

    h1{
        display: flex;
        font-size: 50px;
        font-weight: 700;
        gap: 10px;
    }
    p{
        color: #595566;
    }
    .cnopka{
        display: flex;
        gap: 13px;
        button{
            border-radius: 40px;
            padding: 10px 40px;
            background: #181818;
            font-size: 18px;
            color: white;
            border: none;
            cursor: pointer;
        }
        .cnopka2{
            padding: 10px 15px;
            background: white;
            color: #181818;
            border: none;
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 43px;
            }
        }
    }
}