.container {
  padding: 30px;
  margin: 30px;
  justify-content: center;
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .section {
      display: flex;
      gap: 120px;
      
      .left,
      .right {
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
          font-size: 30px;
          font-weight: bold;
          color: black;
        }

        p {
            display: flex;
            flex-direction: column; 
            gap: 20px;
           font-size: 16px;
          color: #7f8c8d;
        }

        ol {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 70px 0 50px 0;
          span {
            border-top: 1px solid #C1C1C1;
            padding-top: 30px;
            display: flex;
            align-items: flex-start;
            gap: 30px;
            h4 {
                display: flex;
                flex-direction: column;
                gap: 10px;
              font-size: 16px;
              color: black;
              
            }
         
        

            p {
              font-size: 14px;
              color: #7f8c8d;
              padding-bottom: 5px;
            }
          }
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;


          div {
            background: #f9f9f9;
            padding: 33px;
            padding-left: 23px;
            border-radius: 15px;
            

            h4 {
              font-size: 15px;
              color: black;
              margin-bottom: 5px;
            }

            p {
              font-size: 15px;
              
            }
          }
        }
      }
      .left{
        gap: 30px;
      }

    }
  }
}

