@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.Team {
  padding: 150px 0;
  background-color: #f5f5f5;
  .container {
    max-width: 1200px;
    margin: 0 auto;

    .title {
      padding: 0 12px 2px;
      border-radius: 20px;
      gap: 10px;
      background: #ffcc4a;
      font-family: "Lato", serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.6px;
      letter-spacing: 0.145em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    h3 {
      margin: 22px 702px 11px 0;
      font-family: "Cabin", serif;
      font-size: 45px;
      font-weight: 700;
      line-height: 52.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .p {
      color: #595566;
      margin-right: 557px;
      font-family: "Lato", serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    ul {
      margin-top: 44px;
      display: flex;
      align-items: center;
      gap: 46px;

      li {
        border-radius: 20px;
        position: relative;
        list-style: none;
        width: 366px;
        height: 563px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .teamImg{
          border-radius: 20px;
          margin-bottom: 25px;
        }

        span {
          position: absolute;
          top: 333px;
          right: 20px;
          padding: 4px 21px 6px;
          border-radius: 29px;
          background: #181818;
          color: #fff;
          transition: all 0.4s ease-in;

          &:hover {
            color: #181818;
            background: #ffcc4a;
          }
        }

        h2 {
          font-family: "Cabin", serif;
          font-size: 30px;
          font-weight: 700;
          line-height: 34.8px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 23.6px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #595566;
          margin-top: 13px;

        }

        nav{
            display: flex;
            align-items: center;
            gap: 29px;
            margin-top: 25px;

            a{
                text-decoration: none;
                align-items: center;
                
                width: 24px;
                height: 24px;

                img{
                    align-items: center;
                }
            }
        }
      }
    }
  }
}
