@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.topBar {
  background-color: #181818;
  padding: 18px 0;

  p {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  main {
    display: flex;
    align-items: center;
    gap: 25px;

    a{
        cursor: pointer;
    }
  }
}

.Header {
  padding: 55px 0;
  background: #1B1B1BE8;


  h2 {
    display: flex;
    gap: 11px;
    align-items: center;
    font-family: "Cabin", serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .linck {
        cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8.22px;
      color: #fff;
      font-size: 17.73px;
      font-weight: 400;
      line-height: 28.36px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      transition: all 0.5s ease-in;

      p {
        width: 8.66px;
        height: 8.66px;
        border-radius: 50%;
        border: 1px solid #515151;
        transition: all 0.5s ease-in;
      }

      &:hover {
        color: #5ab612;

        p {
          background-color: #5ab612;
          border: 1px solid #5ab612;
        }
      }
    }
  }

  button {
    cursor: pointer;
    padding: 8px 40px 8px 10px;
    display: flex;
    align-items: center;
    gap: 11px;
    border-radius: 42px;
    border: none;
    background-color: #fff;

    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activ {
  background-color: green;
}

@media  (max-width: 1100px) {
  .container {
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header{
    padding: 27px 0;

    main{
      gap: 20px;
      .linck{
        gap: 5px;
        font-size: 14px;

        p{
          width: 6.66px;
          height: 6.66px;
        }
      }
    }

    button{
      padding: 5px 20px 5px 8px;
      gap: 7px;
      border-radius: 35px;

    }

  

  }
  
}
@media  (max-width: 820px) {

  .container{
    padding: 0 15px;
  }

  .Header{
    padding: 27px 0;

    main{
      gap: 20px;
      .linck{
        gap: 5px;
        font-size: 14px;

        p{
          width: 6.66px;
          height: 6.66px;
        }
      }
    }

    button{
      padding: 8px;
      gap: 7px;
      border-radius: 35px;
      span{
        display: none;
    
      }

    }

  

  }
  
}